/*Document styling*/

* {
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 15px auto 15px auto;
  background-color: #fff;
  border: 2px solid #e9e6d7;
  border-radius: 15px;
}

body {
  background-color: #fbf8f2;
  color: #36384c;
  font-family: sans-serif;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
    font-family: 'bonvenocflight';
    src: url('fonts/BonvenoCF-Light-webfont.eot');
    src: url('fonts/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BonvenoCF-Light-webfont.woff') format('woff'),
         url('fonts/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('fonts/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-size: 2em;
  font-family: 'bonvenocflight', sans-serif;
}

h2 {
  font-size: 1em;
  font-family: 'bonvenocflight', sans-serif;
  padding-left: 40px;
}

hr {
  border-style: solid;
  border-color: #7bc6a0;
  width: 95%;
}

/*Nav Styling*/

.navbar {
  font-family: 'bonvenocflight', sans-serif;
  background-color: #7bc6a0;
  /*e7f3db*/
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

#brand-title {
  float: left;
  margin-left: 15px;
  font-weight: bold;
}

#nav-links {
  float: right;
}

#nav-links li {
  float: left;
  margin: 0 15px 0 15px;
}

#nav-links li:hover {
  color: #e9e6d7;
}

/*Content styling*/

.main {
  overflow-x: hidden;
}

.col1 {
  float: left;
  width: 50%;
  padding: 20px 20px 7.9% 40px;
}

.col2 {
  float: right;
  width: 50%;
}

#product-image {
  position: relative;
  width: 80%;
  padding: 50px 10px 10px 10px;
  margin: 0 10% 0 10%;
}

#product-hero {
  padding: 10px;
  width: 100%;
}

.product-label {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(225, 225, 225, .7);
  font-size: 1.2em;
  padding: 20px;
}

button {
  width: 80%;
  margin: 15px 12%;
  background-color: #ef936f;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  color: #fff;
}

button:hover {
  background-color: #e88159;
}

button:active {
  background-color: #da432f;
}

.gallery {
  padding-top: 10px;
}

.gallery img {
  max-width: 250px;
  margin: 30px;
  float: left;
}

#cart {
  /*width: 200px;
  height: 50px;*/
  padding: 10px 10px 5px 10px;
  background-color: #fff;
  border: 1px solid #ef936f;
  position: fixed;
  bottom: 0;
  right: 0px;
  text-align: center;
  border-top-left-radius: 5px;
}

/*Table Styling*/

table {
  width: 75%;
  border-spacing: 0;
  border: 2px solid #7bc6a0;
}

th {
  text-align: left;
  background-color: #cef1e0;
  color: #7bc6a0;
  font-size: 1.2em;
  border-bottom: 2px solid #7bc6a0;
}

tr {
  margin: 0;
}

tbody tr:nth-child(odd) {
  background-color: #e9e6d7;
}
